.chatInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1em;
    margin: auto;
    margin-bottom: 1vh;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
    .chatInput {
        width: 80%;
    }
}

@media only screen and (min-width: 992px) {
    .chatInput {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    .chatInput {
        width: 45%;
    }
}

.inputField {
    flex-grow: 1;
    margin-right: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */
    font-size: 1rem;
}

.submitButton {
    padding: 0.5em 1em;
    margin-right: 1em;
    color: white;
    border: none;
    border-radius: 4px;
    background: #004aad;
    cursor: pointer;
    transition: background 0.3s;
}

.submitButton:hover {
    background: #5de0e6;
}

.submitButton:disabled {
    background: #ccc;
    cursor: not-allowed;
}